<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style-detalle.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detalle del Producto</title>>
</head>
<header>
    <%- include('./partials/head') %>
</header>
<body>

    <main class="main-box">
        <div class="main-boxing">
            <div class="product-box">
                <div class="product-img">
                    <img src="/img/productos/<%= productos.image %>" alt="Monitor" class="product-img">
                </div>
                <div class="div-detalle-producto">
                    <h2 class="titulo"><%= productos.name %></h2>
                    <br>
                    <h3 class="price"><%= productos.price %></h3>
                    <p class="descuento"><%= productos.descuento %></p>
                    <br>
                    <p>Cantidad</p>
                    <select id=ddselect >
                    <option> --1--</option>
                    <option> --3--</option>
                    <option> --3--</option>
                    <option> --4--</option>
                    </select>
                    <br>
                    <h4>Detalle del Producto</h4>
                    <br>
                    <p><%= productos.description %>
                    </p>
                    <br>
                        <div class="purchase">
                            <button class="comprar" type="submit">Comprar Ya</button>
                            <button class="carrito" type="submit">Agregar al carrito</button>
                            <p></p>
                        </div>
                </div>
            </div>                 
            </div>
        </div>
        
    </main>
    <footer>
        <%- include('./partials/footer') %>  
    </footer>
    </body>
    </html>    