<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="css/style-register.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>  
<body>
    <header>
        <%- include('./partials/head') %>    
    </header>
<main>
    <div class="container">
        <div class="form-register">
            <% if (locals.errors) { %>
                <% for (let oneError in errors) { %>
                <% } %>
            <% } %>
            <div class="title">Registrate</div>
                <form action="/register" method="POST" enctype="multipart/form-data">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nombre </span>
                        <input type="text" placeholder="Pon tu Nombre" name="nombreUsuario" required >
                        <% if (locals.errors && errors.nombreUsuario) { %>
                        <div class = "text-danger">
                            <p> <%= errors.nombreUsuario.msg %> </p>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <span class="details">Apellido</span>
                        <input type="text" placeholder="Pon tu Apellido" name="apellidoUsuario" required>
                        <% if (locals.errors && errors.apellidoUsuario) { %>
                        <div class = "text-danger">
                            <p> <%= errors.apellidoUsuario.msg %> </p>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" placeholder="Pon tu Email" name="email" required>
                        <% if (locals.errors && errors.email) { %>
                        <div class = "text-danger">
                            <p> <%= errors.email.msg %> </p>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <span class="details">Telefono</span>
                        <input type="text" placeholder="Pon tu Telefono"name="telefono" required>
                        <% if (locals.errors && errors.telefono) { %>
                        <div class = "text-danger">
                            <p> <%= errors.telefono.msg %> </p>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <span class="details">Contrase単a</span>
                        <input type="password" placeholder="Pon tu Contrase単a" name="contrasena" required>
                        <% if (locals.errors && errors.contrasena) { %>
                        <div class = "text-danger">
                            <p> <%= errors.contrasena.msg %> </p>
                        <% } %>
                    </div>
           <!--     <div class="input-box">
                        <span class="details">Confirmar Contrase単a</span>
                        <input type="password" placeholder="Confirma tu Contrase単a" name="contrasena" required>
                        <% if (locals.errors && errors.contrasena) { %>
                        <div class = "text-danger">
                            <p> <%= errors.contrasena.msg %> </p>
                        <% } %>
                    </div> -->
                    <div class="input-box">
                        <span class="details">Categoria</span>
                        <select name="category" id="category" class="form-input" required>
                        <option value="">Categoria del usuario</option>
                        <option value="in-sale">Vendedor</option>
                        <option value="visited">Cliente</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="avatar">Imagen de perfil</span>
                        <input type="file" id="image" name="avatar" class="form-input">
                            <% if (locals.errors && errors.avatar) { %>
                            <div class = "text-danger">
                                <p> <%= errors.avatar.msg %> </p>
                            <% } %>
                    </div>
                    <div class="button">
                        <input type="submit" value="Registrar">
                    </div>
                </form>
        </div>
    </div>
</main>

</body>
<footer>
    <%- include('./partials/footer') %>  
</footer>

</html>